### Import python Library

In [ ]:
import pandas as pd

In [3]:
sample_date = pd.read_csv('code-desckey.csv')

In [22]:
#Feed this data to aws comprehend for training our custom classifer
sample_date.head(10)

   Unnamed: 0        EIN                                              value
0           2   20731227  ROTARY IS A SERVICE ORGANIZATION WHOSE MEMBERS...
1          26  237085162  CONTINUING EDUCATION CONCERNING CAUSE, CARE AN...
2          36  237134308  ROTARY IS AN INTERNATIONAL SERVICE ORGANIZATIO...
3          38  237144229  TO PROMOTE MORALITY, IMPART INSTRUCTION, AND G...
4          40  237153112  DOMESTIC FRATERNAL ORGANIZATION.CLUB RAISES FU...
5          50  237208565  LITTLE PRAIRIE BIBLE CAMP, INC. IS A NON-PROFI...
6          63  237277754  SCHOLARSHIPS, CHARITABLE CONTRIBUTIONS TO LOCA...
7          66  237301691  PROVIDE ASSISTANCE WITH HEALTH CARE COST FOR T...
8          72  237356074  TO ENCOURAGE AN INTEREST IN ROSES, SERVE AS ST...
9          73  237356414  PROMOTE HUMANITARIAN & ETHICAL VALUESMEMBERSHI...

In [18]:
aws_comprehend = pd.read_csv('awscomprehend.csv')

In [23]:
aws_comprehend[['EIN','value']].head(10)

         EIN                                              value
0   20731227  ROTARY IS A SERVICE ORGANIZATION WHOSE MEMBERS...
1  237085162  CONTINUING EDUCATION CONCERNING CAUSE, CARE AN...
2  237134308  ROTARY IS AN INTERNATIONAL SERVICE ORGANIZATIO...
3  237144229  TO PROMOTE MORALITY, IMPART INSTRUCTION, AND G...
4  237153112  DOMESTIC FRATERNAL ORGANIZATION.CLUB RAISES FU...
5  237208565  LITTLE PRAIRIE BIBLE CAMP, INC. IS A NON-PROFI...
6  237277754  SCHOLARSHIPS, CHARITABLE CONTRIBUTIONS TO LOCA...
7  237301691  PROVIDE ASSISTANCE WITH HEALTH CARE COST FOR T...
8  237356074  TO ENCOURAGE AN INTEREST IN ROSES, SERVE AS ST...
9  237356414  PROMOTE HUMANITARIAN & ETHICAL VALUESMEMBERSHI...

In [20]:
aws_prediction = pd.read_csv('amazon_prediction.csv')

In [21]:
aws_prediction.head(250)

           EIN CODE  prediction_score
0     20731227    D            0.7117
1    237085162  O21            0.6395
2    237134308  E39            0.3788
3    237144229  X40            0.9899
4    237153112  P58            0.5437
5    237208565  B70            0.8510
6    237277754  O51            0.3409
7    237301691  P73            0.3177
8    237356074  G51            0.5692
9    237356414    C            0.5962
10   363905358  X90            0.9887
11   371074619    D            0.6059
12   376057581  X90            0.7755
13   430694564  O53            0.6639
14   431030299  B50            0.8678
15   431075676  R40            0.7711
16   431137989  E39            0.4834
17   431153138  X22            0.5534
18   431154846  B90            0.4323
19   431171506  X70            0.8324
20   431206890  B21            0.2713
21   431218178  P58            0.4963
22   431222802  O50            0.9611
23   431246752  B29            0.3828
24   431293794  O53            0.9005
25   431294200  B29            0.8475
26   431294546  O55            0.7444
27   431304163    O            0.3202
28   431316757  L22            0.5801
29   431319700  E39            0.9571
..         ...  ...               ...
220  473080562  L81            0.7347
221  473430478  O51            0.4143
222  474457647  F80            0.5023
223  474589660  B29            0.5503
224  474726620  B30            0.6715
225  474788211  N20            0.9718
226  475424550  M20            0.8384
227  481307269  B90            0.9823
228  510430696  L81            0.6513
229  522415360  E39            0.9697
230  522445340  X90            0.6317
231  562318455  X40            0.7340
232  611680486  X30            0.9267
233  611686993  I31            0.9332
234  621423391    R            0.5082
235  651231182  B29            0.7428
236  680667074  key            0.9212
237  710959300  O40            0.6424
238  743086948  E39            0.7619
239  743187624  O54            0.9984
240  760809124  O40            0.7912
241  800746883  G81            0.4905
242  800796651  L22            0.9353
243  800835940  X90            0.7976
244  800915577  B28            0.4976
245  810810970  L42            0.6340
246  811457767  B90            0.5345
247  811518042  P58            0.9229
248  811667136  I31            0.9610
249  812921213  B90            0.9875

[250 rows x 3 columns]