In [17]:
import json
import pandas as pd
from pandas.io.json import json_normalize
import numpy as np
import requests
import io
import re
import bs4 as bs
import urllib.request

In [18]:
pd.set_option('display.max_colwidth', -1)

In [19]:
with open('index_2018.json') as f:
    d = json.load(f)

In [20]:
filling_2018 = json_normalize(d['Filings2018'])

In [21]:
filling_2018['EIN'] = filling_2018['EIN'].astype(np.int64)

In [22]:
filling_2018['DateTime'] = pd.to_datetime(filling_2018['SubmittedOn'])

In [23]:
filling_2018.FormType.unique()

array(['990', '990PF', '990EZ'], dtype=object)

In [24]:
#filling_2018_dup.loc[filling_2018_dup.groupby('EIN').DateTime.idxmax()].he

In [25]:
filling_2018_rdup = filling_2018.loc[filling_2018.groupby('EIN').DateTime.idxmax()]

In [ ]:
#filling_2018 = filling_2018_dup.loc[filling_2018_dup.groupby('EIN').SubmittedOn.idxmax()]

In [ ]:
#filling_2018_d = filling_2018.EIN.where(filling_2018.EIN == 10777850 ); filling_2018_d

In [ ]:
#df_final.loc[(df_final['website'] != 'N/A')]

In [47]:
filling_2018_rdup.count()

DLN                 409840
EIN                 409840
FormType            409840
LastUpdated         409840
ObjectId            409840
OrganizationName    409840
SubmittedOn         409840
TaxPeriod           409840
URL                 409840
DateTime            409840
dtype: int64

In [41]:
f_2018_1 = filling_2018_rdup.loc[(filling_2018_rdup['EIN'] == 10586306)] 
#df_columns.loc[(df_columns['FormType'] != '990PF')]

In [42]:
f_2018_1.head()

,DLN,EIN,FormType,LastUpdated,ObjectId,OrganizationName,SubmittedOn,TaxPeriod,URL,DateTime
130095,93492044004388,10586306,990EZ,2018-03-14T23:04:38,201830449349200438,BARCEDA FAMILIES,2018-03-05,201706,https://s3.amazonaws.com/irs-form-990/201830449349200438_public.xml,2018-03-05

In [48]:
ntee_filter = pd.read_csv('merge_BMF.csv'); ntee_filter.count()

EIN            15100
NAME           15100
STREET         15100
CITY           15100
ZIP            15100
ACTIVITY       15100
NTEE_CD        8546
REVENUE_AMT    9759
dtype: int64

In [49]:
#df_merge = ntee_filter.merge(filling_2018_rdup, how='left',left_on='EIN', right_on='EIN');
df_merge = ntee_filter.merge(filling_2018_rdup, how='inner',on='EIN');

In [60]:
df_merge.FormType.unique()

array(['990EZ', '990', '990PF'], dtype=object)

In [61]:
df_merge_990_PF = df_merge.loc[(df_merge['FormType'] != '990PF')]

In [62]:
df_merge_990_PF.count()

EIN                 2544
NAME                2544
STREET              2544
CITY                2544
ZIP                 2544
ACTIVITY            2544
NTEE_CD             1756
REVENUE_AMT         2540
DLN                 2544
FormType            2544
LastUpdated         2544
ObjectId            2544
OrganizationName    2544
SubmittedOn         2544
TaxPeriod           2544
URL                 2544
DateTime            2544
dtype: int64

In [64]:
df_columns = df_merge_990_PF[['EIN','NAME', 'STREET', 'CITY', 'ZIP', 'ACTIVITY','NTEE_CD','URL']]; df_columns.count()

EIN         2544
NAME        2544
STREET      2544
CITY        2544
ZIP         2544
ACTIVITY    2544
NTEE_CD     1756
URL         2544
dtype: int64

In [65]:
df_columns.count()

EIN         2544
NAME        2544
STREET      2544
CITY        2544
ZIP         2544
ACTIVITY    2544
NTEE_CD     1756
URL         2544
dtype: int64

In [66]:
df_columns_na = df_columns.loc[(df_columns['URL'] != 'N/A')]

In [67]:
df_columns_na = df_columns_na.loc[(df_columns['URL'] != None )]

In [68]:
df_columns_na  = df_columns_na [df_columns_na ['URL'].notnull()]

In [71]:
df_columns_na.count()

EIN         2544
NAME        2544
STREET      2544
CITY        2544
ZIP         2544
ACTIVITY    2544
NTEE_CD     1756
URL         2544
dtype: int64

In [72]:
for index, row in df_columns_na.iterrows():
    url=row["URL"]
    
    sauce = urllib.request.urlopen(url).read()
    
    soup = bs.BeautifulSoup(sauce,'xml')
    
    phone = '' if soup.find('PhoneNum') == None or soup.find('PhoneNum').text == 'N/A' else soup.find('PhoneNum').text
    df_columns_na.loc[index, 'phone'] = phone
    
    website = '' if soup.find('WebsiteAddressTxt') == None or soup.find('WebsiteAddressTxt').text == 'N/A' or soup.find('WebsiteAddressTxt').text == 'NA'else soup.find('WebsiteAddressTxt').text
    df_columns_na.loc[index, 'website'] = website
    
    primary_except = '' if soup.find('PrimaryExemptPurposeTxt') == None or soup.find('PrimaryExemptPurposeTxt').text == 'N/A' else soup.find('PrimaryExemptPurposeTxt').text
    df_columns_na.loc[index, 'primary_except'] = primary_except
    
    DescriptionProgramSrvcAccomTxt = '' if soup.find('DescriptionProgramSrvcAccomTxt') == None or soup.find('DescriptionProgramSrvcAccomTxt').text == 'N/A' else soup.find('DescriptionProgramSrvcAccomTxt').text
    df_columns_na.loc[index, 'DescriptionProgramSrvcAccomTxt'] = DescriptionProgramSrvcAccomTxt

In [73]:
df_columns_na.head()

,EIN,NAME,STREET,CITY,ZIP,ACTIVITY,NTEE_CD,URL,phone,website,primary_except,DescriptionProgramSrvcAccomTxt
0,10605038,HABITAT FOR HUMANITY INTERNATIONAL INC,PO BOX 223,CASSVILLE,65625-0223,29380000,L20Z,https://s3.amazonaws.com/irs-form-990/201832499349200818_public.xml,4178472203,NA,SEE SCH O,TO IMPROVE THE QUALITY OF LIFE IN SOUTH BARRY COUNTY BY ELIMATING SUB-STANDARD HOUSING
1,15145247,AMVETS,318 BROAD ST,MOKANE,65059-1341,907000000,NaN,https://s3.amazonaws.com/irs-form-990/201833069349302108_public.xml,5736765494,,,
2,20731227,ROTARY INTERNATIONAL,3200 S STATE ROUTE 291,INDEPENDENCE,64057-1702,520349200,NaN,https://s3.amazonaws.com/irs-form-990/201811309349202611_public.xml,8168330078,EASTERNINDEPENDENCEROTARY.ORG,"ROTARY IS A SERVICE ORGANIZATION WHOSE MEMBERS WORK LOCALLY, REGIONALLY, AND INTERNATIONALLY THROUGH SERVICE PROJECTS AND DIRECT CHARITABLE CONTRIBUTIONS TO HELP THOSE LESS FORTUNATE THAN OURSELVES.","THE ROTARY CLUB OF INDEPENDENCE USED REVENUE FROM MEMBER DUES, MEALS, AND SPECIAL EVENTS TO FUND CHARITABLE CONTRIBUTIONS AND SERVICE PROJECTS INCLUDING CONTRIBUTIONS TO ROTARY INTERNATIONAL, INDEPENDENCE SCHOOL DISTRICT AND JOB ONE EMPLOYMENT OPPORTUNITIES FOR PEOPLE WITH DISABILITIES."
3,131995940,LUDHIANA CHRISTIAN MEDICAL COLLEGE BOARD U S A INC,PO BOX 1327,COLUMBIA,65205-1327,179029000,Q113,https://s3.amazonaws.com/irs-form-990/201822849349300532_public.xml,5737772924,HTTP://FOLUS.ORG,,
4,133352209,INTERNATIONAL PEDIATRIC NEPHROLOGY ASSOCIATION HOSPITAL,2401 GILLHAM RD,KANSAS CITY,64108-4619,161179000,NaN,https://s3.amazonaws.com/irs-form-990/201823189349312167_public.xml,8162343812,IPNA-ONLINE.ORG,,

In [59]:
pd.set_option('display.max_colwidth', -1)
#df_columns_na.iloc[1:10] #df.iloc[2,0]

In [60]:
df_columns_na.head(3)

,EIN,NAME,STREET,CITY,ZIP,ACTIVITY,NTEE_CD,URL,FormType,phone,website
3,10584486,ST LOUIS SENIOR DOG PROJECT,7488 RIVERMONT TRL,HOUSE SPRINGS,63051-2033,0,D20,https://s3.amazonaws.com/irs-form-990/201821429349200032_public.xml,990EZ,6362220895,N/A
4,10586306,BARCEDA FAMILIES,413 W WATER ST,GREENFIELD,65661-1353,0,P20,https://s3.amazonaws.com/irs-form-990/201830449349200438_public.xml,990EZ,4172764591,BARCEDA.ORG
8,10643653,AMERICAN ESKIMO RESCUE OF SAINT LOUIS INC,PO BOX 190523,SAINT LOUIS,63119-6523,0,D20,https://s3.amazonaws.com/irs-form-990/201812759349200231_public.xml,990EZ,3146471112,WWW.ESKIERESCUESTL.ORG

In [ ]:
#df_columns_na= df_columns_na.replace('No data', np.nan)

In [ ]:
#df_columns_na.website.str.len
#w.female.replace(to_replace=dict(female=1, male=0), inplace=True)
#df_columns_na['website_len'] = 'a' if df_columns_na['website'].apply(len) < 3 else df_columns_na['website']

In [ ]:
#df_columns_na['website_len']

In [ ]:
df_columns_na.head()

In [ ]:
df_columns_na_filter = df_columns_na[['EIN', 'NAME', 'website', 'phone', 'NTEE_CD']]

In [ ]:
df['Section'] = df['Section'].str.zfill(2) df['Section'] = df['Section'].astype(str).str.zfill(2)

In [ ]:
df_columns_na_filter['EIN'] = df_columns_na_filter['EIN'].astype(str).str.zfill(9)

In [ ]:
df_columns_na_rename = df_columns_na_filter.rename(
    columns={'EIN': 'EIN', 'NAME': 'name', 'website': 'url', 'phone': 'phone','NTEE_CD': 'services' })

In [ ]:
df_columns_na_rename.dtypes

In [ ]:
df_columns_na_rename = df_columns_na_rename.applymap(str)

In [ ]:
df_columns_na_rename.dtypes

In [ ]:
df_columns_na_rename.reset_index(drop=True, inplace=True)

In [ ]:
df_columns_na_rename.columns

In [ ]:
#df_columns_na_rename = df_columns_na_rename.loc[(df_columns['url'] != 'N/A')]

In [ ]:
df_columns_na_rename.head()

In [ ]:
df_columns_na_rename.to_csv('final_submission.csv')

In [ ]:
df_columns_na_rename.to_json('final_submission.json', orient = "records")